@charset "UTF-8";

body{
    background-color: #DB92AF;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #6D4957;
    font-family: 'Times New Roman', Times, serif;
}

h1#prin{
    color: white;
    text-align: center;
    background-color: #8F6073; 
}

h2{
    color: #B1768E;
}

.basico{
    color: #8d5d71;
    font-weight: bold;
}

.intermediario{
    color: #49373e;
}

.avancado{
    color: #412c34;
}